h1 {
    color: transparent;
    font-family: "Gloucester MT Extra Condensed";
    font-weight: bolder;
    font-size: 75px;
    /*Border 1*/
    border: 100px solid red;
    text-shadow: #969696 1px 3px 0, #aba8a8 1px 13px 5px;
    /*Padding 1*/
    padding-left: 200px;

}

.stop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 50%;
    padding: 5px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


.touching {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 50%;
    padding: 5px;
}

.corona {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 50%;
    padding: 5px;
}

h2{
    /*Float 1*/
    float: right;
    transform: rotate(120deg);
    /*Border 2*/
    border: 20px dotted red;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    font-family: Damascus;
    font-size: 100px;
    color: fuchsia;
    text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
    /*Padding 2*/
    padding-right: 200px;

}

h3{
    font-family: Consolas;
    font-size: 75px;
    /*Absolute 1*/
    position: absolute;
    float: right;
}
body{
    font-weight: bold;
    background-size: 100px 100px;
    background-color: purple;

    left: 30px;
    border: aquamarine;
    /*Margin 1*/
    margin-top: 100px;
    margin-right: -100px;
    margin-left: 50px;

}
img:hover {
    transform: scaleX(20);
    filter: invert(.8);
    /*Inline 1*/
    display: inline-block;
    /*Relative 1*/
    position: relative;
}
p{
    /*Block 1*/
    display: block;
    font-family: "Diwan Kufi";
    font-size: 50px;
}
